<div class="container-fluid">

  <div class="row my-3">
    <div class="col-sm-6">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Customers</h1>
    </div>
    <div class="col-sm-6 text-right">
      <a role="button" href="/customer/new"
         class="btn font-weight-bold text-gray-100"
         style="background-color: #4e73df;">
        Create New Customer
      </a>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Customer table</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th class="col-4">Address</th>
            <th class="col-2">Customer Type</th>
            <th class="col-2">Options</th>
          </tr>
          </thead>
          <tbody>
          {{#each customers}}
            <tr>
              <th scope="row">{{this.id_card_number}}</th>
              <td>{{this.name}}</td>
              <td>{{this.address}}</td>
              <td>{{this.type_name}}</td>
              <td>
                <button class="btn py-0 px-1">
                  <i class="far fa-edit fa-sm" style="color: #4e73df"></i>
                </button>
                <button class="btn py-0 px-1">
                  <i class="far fa-trash-alt fa-sm"></i>
                </button>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{{#section "script"}}
  <!-- Datatables -->
  <script src="/js/demo/datatables-demo.js"></script>
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
{{/section}}